# **Pertemuan 1**

In [ ]:
# List

my_list = [] #membuat list kosong
print(my_list)
my_list = [1, 2, 3, 'contoh', 3.14] #memasukan data kedalam list
print(my_list)

[]
[1, 2, 3, 'contoh', 3.14]

In [ ]:
# Dictionary
my_dict = {'first': 'Python', 'second': 'Java'} #membuat dictionary kosong
print(my_dict)
my_dict['second'] = 'C++' #mengubah elemen di dalam dictionary
print(my_dict)
my_dict ['third'] = 'Ruby' #menambah elemen di dalam dictionary
print(my_dict)

{'first': 'Python', 'second': 'Java'}
{'first': 'Python', 'second': 'C++'}
{'first': 'Python', 'second': 'C++', 'third': 'Ruby'}

In [ ]:
# Tuple
my_tuple = (1, 2, 3, 'indra') # Membuat Tuple
print(my_tuple)
print(my_tuple[0])
print(my_tuple[:])
print(my_tuple[3][4])

(1, 2, 3, 'indra')
1
(1, 2, 3, 'indra')
a

In [ ]:
# Set
my_set = {1,2,3,4,4,4,5} #membuat set
print(my_set)
my_set.add(4) #menambahkan elemen kedalam set
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
my_set = {1,2,3,4}
my_set_2 = {3,4,5,6}

print(my_set.union(my_set_2), '---', my_set|my_set_2)
print(my_set.intersection(my_set_2), '---', my_set&my_set_2)
print(my_set.difference(my_set_2), '---', my_set-my_set_2)
print(my_set.symmetric_difference(my_set_2), '---', my_set^my_set_2)

{1, 2, 3, 4, 5, 6} --- {1, 2, 3, 4, 5, 6}
{3, 4} --- {3, 4}
{1, 2} --- {1, 2}
{1, 2, 5, 6} --- {1, 2, 5, 6}

In [ ]:
#if Statement

num = 5

if(num > 0):
  print(num, 'adalah Bilangan Positif')
print(num, 'adalah bilangan negatif atau nol')

5 adalah Bilangan Positif
5 adalah bilangan negatif atau nol

In [ ]:
#if Else Statement

num = -1
if(num > 0):
  print(num, 'adalah bilangan positif')
else:
  print(num, 'adalah bilangan negatif atau nol')

-1 adalah bilangan negatif atau nol

In [ ]:
# if, Elif, else statement

num = 5

if(num > 0):
  print(num , 'adalah bilangan positif')
elif(num == 0):
  print(num, 'adalah bilangan nol')
else:
  print(num, 'adalah bilangan negatif')

5 adalah bilangan positif

In [ ]:
#If nested

num =5

if(num >= 0):
  if(num == 0):
    print(num, 'adalah bilangan nol')
  else:
    print(num, 'adalah bilangan positif')
else:
  print(num, 'adalah bilangan negatif')

5 adalah bilangan positif

In [ ]:
#while loop

num = 1
angka_ganjil = []

while num:
  if(num % 2 != 0):
    angka_ganjil.append(num)
  if(num >=20):
    break
  num += 1

print('angka ganjil =', angka_ganjil)

angka ganjil = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#for loop

list = {1,2,3,4,5}

for num in list:
  print('num')

num
num
num
num
num

In [ ]:
#function with return

def pow(a):
  return a**2

print(pow(2))

power=pow(2)
print(power)

4
4

In [ ]:
#function no return / Procedure
def pow(a):
  print(a**2)

pow(2)

4

## **Pertemuan** **2**

In [4]:
#function arguments

def greet (name, msg = 'apa kabar'):
    """ fungsi ini menyapa orang dengan pesan yang di berikan"""
    print('hello', name , ',', msg)

greet("indra")

hello indra , apa kabar