# **Pertemuan 1**

In [ ]:
# List

my_list = [] #membuat list kosong
print(my_list)
my_list = [1, 2, 3, 'contoh', 3.14] #memasukan data kedalam list
print(my_list)

[]
[1, 2, 3, 'contoh', 3.14]

In [ ]:
# Dictionary
my_dict = {'first': 'Python', 'second': 'Java'} #membuat dictionary kosong
print(my_dict)
my_dict['second'] = 'C++' #mengubah elemen di dalam dictionary
print(my_dict)
my_dict ['third'] = 'Ruby' #menambah elemen di dalam dictionary
print(my_dict)

{'first': 'Python', 'second': 'Java'}
{'first': 'Python', 'second': 'C++'}
{'first': 'Python', 'second': 'C++', 'third': 'Ruby'}

In [ ]:
# Tuple
my_tuple = (1, 2, 3, 'indra') # Membuat Tuple
print(my_tuple)
print(my_tuple[0])
print(my_tuple[:])
print(my_tuple[3][4])

(1, 2, 3, 'indra')
1
(1, 2, 3, 'indra')
a

In [ ]:
# Set
my_set = {1,2,3,4,4,4,5} #membuat set
print(my_set)
my_set.add(4) #menambahkan elemen kedalam set
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
my_set = {1,2,3,4}
my_set_2 = {3,4,5,6}

print(my_set.union(my_set_2), '---', my_set|my_set_2)
print(my_set.intersection(my_set_2), '---', my_set&my_set_2)
print(my_set.difference(my_set_2), '---', my_set-my_set_2)
print(my_set.symmetric_difference(my_set_2), '---', my_set^my_set_2)

{1, 2, 3, 4, 5, 6} --- {1, 2, 3, 4, 5, 6}
{3, 4} --- {3, 4}
{1, 2} --- {1, 2}
{1, 2, 5, 6} --- {1, 2, 5, 6}

In [ ]:
#if Statement

num = 5

if(num > 0):
  print(num, 'adalah Bilangan Positif')
print(num, 'adalah bilangan negatif atau nol')

5 adalah Bilangan Positif
5 adalah bilangan negatif atau nol

In [ ]:
#if Else Statement

num = -1
if(num > 0):
  print(num, 'adalah bilangan positif')
else:
  print(num, 'adalah bilangan negatif atau nol')

-1 adalah bilangan negatif atau nol

In [ ]:
# if, Elif, else statement

num = 5

if(num > 0):
  print(num , 'adalah bilangan positif')
elif(num == 0):
  print(num, 'adalah bilangan nol')
else:
  print(num, 'adalah bilangan negatif')

5 adalah bilangan positif

In [ ]:
#If nested

num =5

if(num >= 0):
  if(num == 0):
    print(num, 'adalah bilangan nol')
  else:
    print(num, 'adalah bilangan positif')
else:
  print(num, 'adalah bilangan negatif')

5 adalah bilangan positif

In [ ]:
#while loop

num = 1
angka_ganjil = []

while num:
  if(num % 2 != 0):
    angka_ganjil.append(num)
  if(num >=20):
    break
  num += 1

print('angka ganjil =', angka_ganjil)

angka ganjil = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#for loop

list = {1,2,3,4,5}

for num in list:
  print('num')

num
num
num
num
num

In [ ]:
#function with return

def pow(a):
  return a**2

print(pow(2))

power=pow(2)
print(power)

4
4

In [ ]:
#function no return / Procedure
def pow(a):
  print(a**2)

pow(2)

4

## **Pertemuan** **2**

In [ ]:
#function arguments

def greet (name, msg = 'apa kabar'):
    """ fungsi ini menyapa orang dengan pesan yang di berikan"""
    print('hello', name , ',', msg)

greet("indra")

hello indra , apa kabar

In [ ]:
def greet(name,msg="apa kabar"):
  """
  Fungsi ini menyapa orang dengan
  pesan yang disediakan.

  jika pesan tidak diberikan,
  defaultnya adalah "good morning!"
  """
  print("hello",name,', ', msg)

greet("indra","bagaimana keadaanmu")
greet("budi")

hello indra ,  bagaimana keadaanmu
hello budi ,  apa kabar

In [ ]:
# Python Keyword Arguments

# 2 keyword arguments
greet(name="Indra",msg="apa kabar denganmu?")

# 2 keyword arguments (out of order)
greet(msg="halo", name="budi")

# 1 positional, 1 keyword argument
greet("indra", msg="bagaimana kabarmu?")

hello Indra ,  apa kabar denganmu?
hello budi ,  halo
hello indra ,  bagaimana kabarmu?

In [ ]:
# arbitrary argument
def greet(*names):
  """ fungsi ini menyapa semua
  orang dalam nama tuple."""

  #names adalah tuple dengan argument
  for name in names:
    print("hello",name)

greet("A","B","C","D")

hello A
hello B
hello C
hello D

In [ ]:
#function Recursion Bilangan Faktorial

def factorial(x):
  """fungsi ini berfungsi untuk
  menemukan faktorial dari bilangan bulat"""

  if x==1:
    return 1
  else:
    return x * factorial(x-1)

num = 3

print("nilai faktorial dari ", num , "adalah", factorial(num))

nilai faktorial dari  3 adalah 6

In [2]:
# function Recursion Bilangan Fibonacci

def fibonacci (n):
  if n < 1:
    return [n]

  listSebelumN = fibonacci(n - 1)
  angka1 = listSebelumN[-2] if len(listSebelumN) > 2 else 0
  angka2 = listSebelumN[-1] if len(listSebelumN) > 2 else 1

  return listSebelumN + [angka1 + angka2]

panjang = int(input('masukan panjang deret:'))

print(fibonacci(panjang-1)) #dikurangi satu agar tidak kelebihan indeksnya

masukan panjang deret:5
[0, 1, 1, 2, 3]

In [4]:
# anonymous Function untuk pangkat

double = lambda x: x * 5

print(double(5))

25

In [5]:
# anonymous function untuk list genap

my_list = [1,5,4,6,8,11,3,12]
new_list = list(filter(lambda x: (x%2 ==0) , my_list))

print(new_list)

[4, 6, 8, 12]

In [6]:
#anonymous function untuk list ganjil

my_list = [2,3,4,5,6,7,8,9,10,11,12,13]
new_list = list(filter(lambda x: (x%2 !=0) , my_list))

print(new_list)

[3, 5, 7, 9, 11, 13]

In [12]:
# anonymous function untuk mengalikan item di list dengan angka random

my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
bilangan = int(input("masukan angka disini: "))
new_list = list(map(lambda x: x * bilangan , my_list))

print(new_list)

masukan angka disini: 3
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45]