# **Pertemuan 1** List, Dictionary, Tuple, Set, perulangan dan if else

In [ ]:
# List

my_list = [] #membuat list kosong
print(my_list)
my_list = [1, 2, 3, 'contoh', 3.14] #memasukan data kedalam list
print(my_list)

[]
[1, 2, 3, 'contoh', 3.14]

In [ ]:
# Dictionary
my_dict = {'first': 'Python', 'second': 'Java'} #membuat dictionary kosong
print(my_dict)
my_dict['second'] = 'C++' #mengubah elemen di dalam dictionary
print(my_dict)
my_dict ['third'] = 'Ruby' #menambah elemen di dalam dictionary
print(my_dict)

{'first': 'Python', 'second': 'Java'}
{'first': 'Python', 'second': 'C++'}
{'first': 'Python', 'second': 'C++', 'third': 'Ruby'}

In [ ]:
# Tuple
my_tuple = (1, 2, 3, 'indra') # Membuat Tuple
print(my_tuple)
print(my_tuple[0])
print(my_tuple[:])
print(my_tuple[3][4])

(1, 2, 3, 'indra')
1
(1, 2, 3, 'indra')
a

In [ ]:
# Set
my_set = {1,2,3,4,4,4,5} #membuat set
print(my_set)
my_set.add(4) #menambahkan elemen kedalam set
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
my_set = {1,2,3,4}
my_set_2 = {3,4,5,6}

print(my_set.union(my_set_2), '---', my_set|my_set_2)
print(my_set.intersection(my_set_2), '---', my_set&my_set_2)
print(my_set.difference(my_set_2), '---', my_set-my_set_2)
print(my_set.symmetric_difference(my_set_2), '---', my_set^my_set_2)

{1, 2, 3, 4, 5, 6} --- {1, 2, 3, 4, 5, 6}
{3, 4} --- {3, 4}
{1, 2} --- {1, 2}
{1, 2, 5, 6} --- {1, 2, 5, 6}

In [ ]:
#if Statement

num = 5

if(num > 0):
  print(num, 'adalah Bilangan Positif')
print(num, 'adalah bilangan negatif atau nol')

5 adalah Bilangan Positif
5 adalah bilangan negatif atau nol

In [ ]:
#if Else Statement

num = -1
if(num > 0):
  print(num, 'adalah bilangan positif')
else:
  print(num, 'adalah bilangan negatif atau nol')

-1 adalah bilangan negatif atau nol

In [ ]:
# if, Elif, else statement

num = 5

if(num > 0):
  print(num , 'adalah bilangan positif')
elif(num == 0):
  print(num, 'adalah bilangan nol')
else:
  print(num, 'adalah bilangan negatif')

5 adalah bilangan positif

In [ ]:
#If nested

num =5

if(num >= 0):
  if(num == 0):
    print(num, 'adalah bilangan nol')
  else:
    print(num, 'adalah bilangan positif')
else:
  print(num, 'adalah bilangan negatif')

5 adalah bilangan positif

In [ ]:
#while loop

num = 1
angka_ganjil = []

while num:
  if(num % 2 != 0):
    angka_ganjil.append(num)
  if(num >=20):
    break
  num += 1

print('angka ganjil =', angka_ganjil)

angka ganjil = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#for loop

list = {1,2,3,4,5}

for num in list:
  print('num')

num
num
num
num
num

In [ ]:
#function with return

def pow(a):
  return a**2

print(pow(2))

power=pow(2)
print(power)

4
4

In [ ]:
#function no return / Procedure
def pow(a):
  print(a**2)

pow(2)

4

## **Pertemuan** **2** Function Argument, Keyword Argument, Arbitrary Argument, Function Recursion, Anonymous Function, Variabel (Local, Global, Non local)

In [ ]:
#function arguments

def greet (name, msg = 'apa kabar'):
    """ fungsi ini menyapa orang dengan pesan yang di berikan"""
    print('hello', name , ',', msg)

greet("indra")

hello indra , apa kabar

In [ ]:
def greet(name,msg="apa kabar"):
  """
  Fungsi ini menyapa orang dengan
  pesan yang disediakan.

  jika pesan tidak diberikan,
  defaultnya adalah "good morning!"
  """
  print("hello",name,', ', msg)

greet("indra","bagaimana keadaanmu")
greet("budi")

hello indra ,  bagaimana keadaanmu
hello budi ,  apa kabar

In [ ]:
# Python Keyword Arguments

# 2 keyword arguments
greet(name="Indra",msg="apa kabar denganmu?")

# 2 keyword arguments (out of order)
greet(msg="halo", name="budi")

# 1 positional, 1 keyword argument
greet("indra", msg="bagaimana kabarmu?")

hello Indra ,  apa kabar denganmu?
hello budi ,  halo
hello indra ,  bagaimana kabarmu?

In [ ]:
# arbitrary argument
def greet(*names):
  """ fungsi ini menyapa semua
  orang dalam nama tuple."""

  #names adalah tuple dengan argument
  for name in names:
    print("hello",name)

greet("A","B","C","D")

hello A
hello B
hello C
hello D

In [ ]:
#function Recursion Bilangan Faktorial

def factorial(x):
  """fungsi ini berfungsi untuk
  menemukan faktorial dari bilangan bulat"""

  if x==1:
    return 1
  else:
    return x * factorial(x-1)

num = 3

print("nilai faktorial dari ", num , "adalah", factorial(num))

nilai faktorial dari  3 adalah 6

In [ ]:
# function Recursion Bilangan Fibonacci

def fibonacci (n):
  if n < 1:
    return [n]

  listSebelumN = fibonacci(n - 1)
  angka1 = listSebelumN[-2] if len(listSebelumN) > 2 else 0
  angka2 = listSebelumN[-1] if len(listSebelumN) > 2 else 1

  return listSebelumN + [angka1 + angka2]

panjang = int(input('masukan panjang deret:'))

print(fibonacci(panjang-1)) #dikurangi satu agar tidak kelebihan indeksnya

masukan panjang deret:10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# anonymous Function untuk pangkat

double = lambda x: x * 5

print(double(5))

25

In [ ]:
# anonymous function untuk list genap

my_list = [1,5,4,6,8,11,3,12]
new_list = list(filter(lambda x: (x%2 ==0) , my_list))

print(new_list)

TypeError: 'set' object is not callable

In [ ]:
#anonymous function untuk list ganjil

my_list = [2,3,4,5,6,7,8,9,10,11,12,13]
new_list = list(filter(lambda x: (x%2 !=0) , my_list))

print(new_list)

In [ ]:
# anonymous function untuk mengalikan item di list dengan angka random

my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
bilangan = int(input("masukan angka disini: "))
new_list = list(map(lambda x: x * bilangan , my_list))

print(new_list)

In [ ]:
# variabel global dan variabel lokal

x = "global"

def foo():
  print("x dalam: ", x)

foo()
print("x luar : ", x)

In [ ]:
x = "global"

def foo():
  global x
  x = x * 2
  print(x)

foo()

In [ ]:
x = "global"

def foo():
  global x
  y = "local"
  x = x * 2
  print(x)
  print(y)

foo()

In [ ]:
# non local variable

def outer():
  x = "local"

  def inner():
    nonlocal x
    x = "nonlocal"
    print("inner:", x)

  inner()
  print("outer: ", x)

outer()

In [ ]:
plist = [123,456,789]
plist.append(123)
print(plist)

In [ ]:
you = 2
if you >= 5:
  print('chill bro')
elif you >=3:
  print("Sorry")
else:
  print("fuck me")

# **Pertemuan 3** Stack, Queue, Tree, Graph, Hashmaps,

In [ ]:
# Stack

stack = ['first','second','third']
print(stack)

print()

#pushing elements
stack.append('fourth')
stack.append('fifth')
print(stack)
print()

#printing top
print(stack[-1]) # -1 akan mengakses indeks paling terakhir
print()

#poping element
stack.pop()
print(stack)

In [ ]:
stack = ['satu','dua','tiga','empat']
print(stack)

stack.append('lima')
print(stack)

print(stack[-1])

stack.pop()
print(stack)
stack.remove(stack[2])
print(stack)

In [ ]:
# Queue

queue = ['first','second','third']
print(queue)

print()

# Pushing Element
queue.append('fourth')
queue.append('fifth')
print(queue)
print()

# printing head
print(queue[0])

# printing tail
n = len(queue) #len (lenght) untuk menghitung seberapa banyak jumlah data
print(queue[-1]) #untuk mengakses indeks paling belakang, tanpa len juga bisa
print(n)

#poping element
queue.remove(queue[0]) # mengikuti konsep queue maka yang di remove dari paling depan
print(queue)
queue.pop()
print(queue)

# perbedaan fungsi remove dan pop
# kalau remove harus pakai objek dan indeks
# kalau pop kita langsung masukin angka indeks tidak objek

In [ ]:
# tree
class node:
  def __init__(self,ele):
    self.ele = ele
    self.left = None
    self.right = None

def preorder(self):
  if self:
    print(self.ele)
    preorder(self.left)
    preorder(self.right)

n = node('first')
n.left = node('second')
n.right = node('third')
preorder(n)

In [ ]:
class mahasiswa():
  def __init__(self,masukan_nama):
    self.nama = masukan_nama

  def nilai(self, nilai): #dijalankan ketika dipanggil
    if nilai >= 70:
      print(self.nama, 'lulus dengan nilai :', nilai)
    else:
      print(self.nama, 'tidak lulus dengan nilai :', nilai)

bayu = mahasiswa("bayu Putra")
print(bayu.nama) # di panggil tanpa menggunakan nama method
bayu.nilai(90); #dipanggil dengan menggunakan nama method

In [ ]:
class orang():
  def __init__(self, masukan_nama_orang):
    self.nama_orang = masukan_nama_orang

  def berat(self,berat):
    if berat >= 80:
      print(self.nama_orang, 'anda obesitas, berat anda:', berat)
    else:
      print(self.nama_orang, 'berat anda normal yakni: ', berat)

indra = orang("indra wijaya s")
print(indra.nama_orang)
indra.berat(90);

In [ ]:
#graph

class adjnode:
  def __init__(self,val):
    self.val = val
    self.next = None

class graph:
  def __init__(self,vertices):
    self.v = vertices
    self.ele = [None]*self.v

  def edge(self, src, dest): #src (source), dest(destination)
    node = adjnode(dest)
    node.next = self.ele[src]
    self.ele[src] = node

    node = adjnode(src)
    node.next = self.ele[dest]
    self.ele[dest] = node

  def __repr__(self):
    for i in range(self.v):
      print("Adjacency list of vertex {}\n head".format(i), end="")
      temp = self.ele[i]
      while temp:
        print(" -> {}".format(temp.val), end="")
        temp = temp.next

g = graph(4) # mendefinisikan jumlah vertex yang ada
# menghubungkan tiga vertex tersebut
g.edge(0,2) #node 0 akan bertetangga dengan 2 dan seterusnya
g.edge(1,3)
g.edge(3,2)
g.edge(0,3)
g.__repr__()

In [ ]:
#Hashmaps

#mendefinisikan fungsi untuk memanggil tiap key dan valuenya
def printdict(d):
  for key in d:
    print(key, "->", d[key])
#apabila suatu dict di print atau di panggil langsung (naked) dalam fungsi, yang terpanggil adalah keynya

hashmaps = {0: 'first', 1: 'second', 2:'third'}
printdict(hashmaps)
print()


hashmaps[4] = 'fourth'
printdict(hashmaps)
print()

hashmaps.popitem() #menghilangkan indeks dimulai dari indeks terakhir
printdict(hashmaps)

In [ ]:
def print1(p):
  for key in p:
    print(key, "->", p[key])

hashmaps = {0: 'kurus', 1: 'sedang', 2:'gemuk'}
print1(hashmaps)
print()

hashmaps[3] = 'obesitas'
print1(hashmaps)
print()

hashmaps.popitem()
print1(hashmaps)

# **Pertemuan 4** String

In [ ]:
"Indra Wijaya S" or 'Indra Wijaya S'

In [ ]:
print("belajar python fundamental string"[-6])
print("indra Wijaya S"[0])

In [ ]:
# create String
# with single quotes
String1 = 'Welcome to world'
print('String with the use of Singel Quotes: ')
print(String1)
print()

String1 = "Namaku Indra"
print("String with the use of Double Quotes: ")
print(String1)
print()

#creating a string with triple quotes
String1 = '''aku sedang membangun skill "python developer"'''
print("\nString with the use of Triple Quotes: ")
print(String1)

String2 = ''' i'm to talk about, how much salary in job "data analyst" '''
print (String1)

# creating String with triple Quotes allows multiple lines
String1 = '''
              Indra
              Wijaya
              S '''
print("\nCreating a multiline Sting: ")
print(String1)

String2 = '''
              Alexsander
              Hendra
              Wijaya '''
print(String2)

In [ ]:
#Access Character in Python String

String1 = "Indra Wijaya S"
print("Initial String: ")
print(String1)

# Printing First character
print("\nFirst Character of String is: ")
print(String1[0])

# Printing Last Character
print("\nLast character of String is: ")
print(String1[-1])

In [ ]:
#reverse a String

ind = "Indra"
print(ind[::-1])

balik_nama = "ardnI"
print(balik_nama[::-1])

In [ ]:
#reverse the string using reversed and join function

ind= "indra"

ind= "".join(reversed(ind))

print(ind)

balik_nama= "xela"

balik_nama= "".join(reversed(balik_nama))
print(balik_nama)

In [ ]:
#String Slicing

#creating a String
String1 = "Alexsander Hendra Wijaya"
print("Initial String: ")
print(String1)

#Printing 3rd to 12th character
print("\nSlicing character from 3-12: ")
print(String1[3:8])

#Printing characters beetween 3rd and 2nd last character
print("\nSlicing characters beetween"+
      "3rd and 2nd last character: ")
print(String1[3:-1])

print(String1[-1])
print(String1[:])

In [ ]:
#update entire String
String1 = "hello, im indra"
print("Initial String: ")
print(String1)

#updating A String
String1 = "welcome to the world"
print("\nUpdate String: ")
print(String1)

In [ ]:
#Update Character
# character of a String

String1= "Indra Wijaya S"
print("Initial String: ")
print(String1)

# Updating a Character of the String
## As python Strings are immutable, they don't support item updation directly
### there are following two ways
#1
list1 = list(String1)
list1[4] = 'O'
String2 = ''.join(list1)
print("\nUpdating character at fourth index: ")
print(String2)

#2
String3 = String1[0:4] + 'O' + String1[5:]
print(String3)

In [ ]:
#delete character

String1 = "indras Wijaya S"
print("Initial String: ")
print(String1)

#deleting a character of the String
String2 = String1[0:5] + String1[6:]
print(String2)

In [ ]:
String1 = "welcome to the world"
print("Initial String: ")
print(String1)

#deleting String with the use of del
del String1
print("\nDeleting entire String")
print(String1)

In [ ]:
#escape Sequence in Python

#initial String
String1 = ''' i'm "smart"'''
print("Initial String with use of Triple Quotes: ")
print(String1)

# Escaping Single Quote
String1 = 'I\'m Very "tired" with you'
print("\nEscaping Single Quote: ")
print(String1)

#Escaping Double Quotes
String1= "I'm very \"tired\" with you"
print("\nEscaping Double Quote: ") #note: kasih tanda \ dulu baru tanda yang ingin ditetapkan
print(String1)

# Printing Path with the use of Escape Sequence
String1 = "C: Https:\\\Indra\\Channel\\.com"
print("\nEscaping Backslash: ")
print(String1)

#printing paths with the use of tab
String1 = "Note:\t jika ada sesuatu.."
print("\nTab: ")
print(String1)

#printing Paths with the use of new line
String1 = "Nama\nNIM"
print("\nNew Line: ")
print(String1)

In [ ]:
#Formatting in String

# Default Order
nama_gue = "{}{}{}".format('Indra','Wijaya','S')
print("Print String in default order: ")
print(nama_gue)

# Positional Formatting
nama_gue = "{1} {0} {2}".format('Indra','Wijaya','S')
print("\nPrint String in positional order: ")
print(nama_gue)

# Keyword Formatting
nama_gue = "{a} {b} {c}".format(a='Indra',c='s',b='Wijaya')
print(nama_gue)

In [ ]:
# Formatting of Integers
String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(String1)

#Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(String1)

#Rounding off Integer
String = "{0:.2f}".format(23/400)
print("\none-sixth is : ")
print(String1)

In [ ]:
# String Alignment
String1 = "|{:<1}|{:^1}{:>1}".format('Indra','Wijaya','S')
print("\nLeft, Center and right alignment with formatting: ")
print(String1)

#To demonstrate aligning of space
String1 = "\n{0:^16} was born in {1:<4}".format("Indra Wijaya S",2000)
print(String1)

In [ ]:
#Formatting dengan operator %
Integer1 = 12.3456789
print("formatting in 3.2f format: ")
print('the value of Integer1 is %3.2f' % Integer1)
print("\nFormatting in 3.4f format: ")
print('the value of Integer1 is %3.4f' % Integer1)
print('the value of Integer1 is %3.3f' % Integer1)

# **Pertemuan 5** Regular Expression

In [ ]:
#Regular Expression

import re

s = 'LMS: portal for any learning path'

#match adalah tempat meletakan re search
# ' ' kata yang ingin kita cari
# tempat meletakan string
match = re.search(r'for', s)

# .start ideks awal pada string begitu end sebaliknya
print('Start Index: ', match.start())
print('End Index: ', match.end())

name = 'Indra dengan IPK 398'

match = re.search(r'\d+', name)
print('IPK : ', match.start())
print('IPK : ', match.end())

A = 'Hari ini gua ingin ke perpusnas'

match = re.search(r'ke',A)
print('indeks pertamanya adalah ',match.start())

In [ ]:
# percobaan

import re
coba = 'Halo nama saya winardi, nomor rumah saya adalah 63'
match = re.search(r'\d+', coba)
print('indeks nomor pertama: ', match.start())
print('indeks nomor terakhir: ', match.end())

trial = "saya lahir pada 27 Januari 2000"
match = re.search (r'\d+', trial)
print('indeks tanggal pertama: ', match.start())
match = re.search(r'lahir', trial)
print('indeks pertama: ', match.start())
print('indeks terakhir: ', match.end())

r = "(\d+)"
match = re.findall(r,trial)
print(match)

In [ ]:
#metacharacter

import re
s = 'Adgan167@gmail.com'

# without using \
match = re.search (r'.',s)
print(match)

#using \
match = re.search(r'\.',s)
print(match)

In [ ]:
# Module Regex - re.findall()

import re
# A sample text string where regular expression
# is searched
string = """ Hello my student id is 2221210017 and my friend's number student
              id is 2221210020. no telp indra 082221212121"""
# A sample regular expression to find digits
match = re.findall(r'\d+', string)
print(match)

regex = "(\d+)"
match = re.findall(regex,string)
print(match)

In [ ]:
# module Regex - re.compile()

import re

#compile() creates regular expression
# character class [a-e],
# which is equivalent to [abcde]
# class [abcde] will match with string with
# 'a','b','c','d','e'.
p = re.compile('[a-e]', flags=re.IGNORECASE)

#findall() searches for the regular expression
# and return a list upon finding
print(p.findall("Indra Wijaya S"))

['d', 'a', 'a', 'a']

In [ ]:

import re

# \d is equivalent to [0-9].
p = re.compile('\d')
print(p.findall("I went to him at 11 A.M. on 4th July 1886"))

# \d+ will match a group on [0-9], group
# of one or greater size
p = re.compile('\d+')
print(p.findall("I went to him at 11 A.M. on 4th July 1886"))

['1', '1', '4', '1', '8', '8', '6']
['11', '4', '1886']

In [ ]:
#module regex - re.split()

from re import split

# '\W+' denotes non-alphanumeric characters
# or group of characters upon finding ','
# ir whitespace '' , the split(), splits the
# string from the point
print(split('\W+', 'Words, words, Words'))
print(split('\W+', "Word's words Words"))

#here ':',' ' , ',' are not Alphanumeric thus,
# the point where splitting occurs
print(split('\W+','On 12th Jan 2015, at 11:02 AM'))

# '\d+' denotes numeric characters or group of
# characters splitting occurs at '12', '2016',
# '11', '02' only
print(split('\d+','On 12th Jan 2016, at 11:02 AM'))

['Words', 'words', 'Words']
['Word', 's', 'words', 'Words']
['On', '12th', 'Jan', '2015', 'at', '11', '02', 'AM']
['On ', 'th Jan ', ', at ', ':', ' AM']

In [ ]:
import re

# Splitting will occurs only once, at
# '12', returned list will have length 2
print(re.split('\d+','On 12th Jan 2016, at 11:02 AM',1))
print(re.split('\d+','On 12th Jan 2016, at 11:02 AM'))
#angka di ganti dengan split yang ingin kita tentukan dalam parameter

#'Boy' and 'boy' will be treated same when
# flags = re.IGNORECASE

print(re.split('[a-f]+','Aey, Boy oh boy, come here', flags= re.IGNORECASE))
print(re.split('[a-f]+','Aey, Boy oh boy, come here'))

['On ', 'th Jan 2016, at 11:02 AM']
['On ', 'th Jan ', ', at ', ':', ' AM']
['', 'y, ', 'oy oh ', 'oy, ', 'om', ' h', 'r', '']
['A', 'y, Boy oh ', 'oy, ', 'om', ' h', 'r', '']

In [ ]:
#module regex - re.sub()

import re
# Regular Expression pattern 'ub' matches the
# string at "subject" and "Uber, As the CASE"
# has been ignored, using Flag, 'ub' should
# match twice with the string Upon matching
# 'ub' is replaced by '~*' in "Subject", and
# in "Uber", 'Ub' is replaced
print(re.sub('ub','~*','Subject has Uber booked already', flags=re.IGNORECASE))

# Consider the Case Sensitivity, 'Ub' in
# "Uber", will not be replaced.
print(re.sub('ub','~*','Subject has Uber booked already'))

# As count has been given value 1, the maximum
# times replacement occurs is 1
print(re.sub('ub','~*','Subject has Uber booked already',
             count=1, flags=re.IGNORECASE))

# 'r' before the pattern denotes RE, \s is for
# start and end of a String.
print(re.sub('\sAND\s', ' & ', 'Baked Beans And Spam', flags=re.IGNORECASE))

print(re.sub('ti','ty','Aditia adiTia pramana putra', count=1, flags=re.IGNORECASE))
print(re.sub('ti','ty','Aditia adiTia pramana putra', flags=re.IGNORECASE))
print(re.sub('ti','ty','Aditia adiTia pramana putra'))

S~*ject has ~*er booked already
S~*ject has Uber booked already
S~*ject has Uber booked already
Baked Beans & Spam
Aditya adiTia pramana putra
Aditya aditya pramana putra
Aditya adiTia pramana putra

In [ ]:
# #module regex - re.subn()

import re

print(re.subn('ub','~*', 'Subject has Uber booked already'))

t= re.subn('ub','~*', 'Subject has Uber booked already', flags = re.IGNORECASE)

print(t)
print(len(t))

#this will give same output as sub() would have
print(t[0])

('S~*ject has Uber booked already', 1)
('S~*ject has ~*er booked already', 2)
2
S~*ject has ~*er booked already

In [ ]:
# module regex - re.escape()

import re

#escape () returns a string with Backslash '\',
# before every Non_Alphanumeric Character
# In 1st case only ' ', is not alphanumeric
# In 2nd case, ' ' ,caret '^', '-', '[]', '\'
# are not alphanumeric
print(re.escape("This is Awesome even 1 AM"))
print(re.escape("I Asked what is this [a-9], he said \t ^WoW"))

This\ is\ Awesome\ even\ 1\ AM
I\ Asked\ what\ is\ this\ \[a\-9\],\ he\ said\ \	\ \^WoW

In [ ]:
# module regex - re.search()

# A Python program to demonstrate working of re.match().
import re

#lets use a regular expression to match a date string
# in the form of Month name followed by day number
regex = r"([a-zA-Z]+) (\d+)"

match = re.search(regex, "I was Born on January 2000")

if match != None:
  # we reach here when the expression "([a-zA-Z]+) (\d+)"
  # matches the date string

  #this will print (14, 21), since it matches at index 14
  # and ends at 21
  print("match at index %s, %s" % (match.start(),match.end()))

  # we us group() method to get all the matches and
  # captured groups. the groups contain the matched values.
  # In particular:
  # match.group(0) always returns the fully matched string
  # match.group(1) match.group(2), ... return the capture
  # groups in order from left to right in the input string
  # match.group() is equivalent to match.group(0)

  #so this will print "June 2000"
  print ("full match: %s" % (match.group(0)))

  # so this will print "June"
  print("month: %s" % (match.group(1)))

  # so this will print '2000'
  print ("year: %s" % (match.group(2)))

else:
  print("The regex pattern does not match")

match at index 14, 26
full match: January 2000
month: January
day: 2000

In [ ]:
# match object

s = "Greeting to LMS PORTAL"

# here x is the match object
res = re.search(r"\bG", s)

print(res.re)
print(res.string)
print(res.start())
print(res.end())
print(res.span())

a = 'Gw kece dari lahir \nIndra Wijaya S'

res = re.search(r"\bI", a)

print(res.re)
print(res.string)
print(res.start())
print(res.end())
print(res.span())

re.compile('\\bG')
Greeting to LMS PORTAL
0
1
(0, 1)
re.compile('\\bI')
Gw kece dari lahir
Indra Wijaya S
20
21
(20, 21)

In [ ]:
import re

s = "Welcome to Seedsland"

# here x is the match object
res = re.search(r"\bSee",s)

print(res.re)
print(res.string)
print(res.start())
print(res.end())
print(res.span())

re.compile('\\bSee')
Welcome to Seedsland
11
14
(11, 14)

In [ ]:
import re
s = "Welcome to the World"

# here x is the match object
res = re.search(r"\D{3} t",s)

print(res.group())

d = "Welcome to the World"

# here x is the match object
res = re.search(r'\w{3} t',d)

print(res.group())

ome t
ome t

# **Pertemuan 6 Regex **: Search, Match, Find All

In [ ]:
# A Python program to demonstrate working of re.match()
import re

#lets use a regular expression to match a date string
# in the form of Month name followed by day number
regex = r"([a-zA-Z]+) (\d+)"

match = re.search(regex,"I was born on January 2000")

if match != None:

  # we reach here when the expression "([a-zA-Z]+) (\d+)"
  # matches the date string.
  #this will print (14,21), since it matches at index 14
  # and ends at 21
  print ("Match at index %s,%s"% (match.start(),match.end()))

  # We us group() method to get all the matches and
  # captured groups. the groups contain the matched values
  # In particular:
  # match.group(0) always returns the fully matched string
  # match.group(1) match.group(2),... return the capture
  #group in order from left to right in the input string
  # match.group() is equivalent to match(0)

  # So this will print "June 2000"
  print("full match : %s"% (match.group(0)))
  # So this will print "June"
  print("Month : %s"% (match.group(1)))
  # So this will print "2000"
  print("year : %s"% (match.group(2)))

else:
  print ("the regex pattern does not match")

Match at index 14,26
full match : January 2000
Month : January
year : 2000

In [ ]:
# matching pattern with text
# of re.match()
import re

# a sample function that uses reguler expressions
# to find month and day of a date
def findMonthAndDate(string):
  regex = r"([a-zA-Z]+) (\d+)"
  match = re.match(regex,string)

  if match == None:
    print ("Not a valid date")
    return

  print ("Given Data: %s"% (match.group()))
  print ("Month : %s"% (match.group(1)))
  print("Day : %s"% (match.group(2)))

# Driver Code
findMonthAndDate("April 24")
print("")
findMonthAndDate("June 21")
print("")
findMonthAndDate("a December 24")

Given Data: April 24
Month : April
Day : 24

Given Data: June 21
Month : June
Day : 21

Not a valid date

In [ ]:
# Find all Occurence in pattern

# A Python program to demonstrate working of
# findall()
import re

# A sample text string where reguler expression
# is searched

string = ''' hello my number is 123456789 and my friend's number is 987654321'''

# A Sample reguler expression to find digits
regex = '\d+'

match = re.findall(regex,string)
print(match)

['123456789', '987654321']

In [ ]:
# Without using VERBOSE

regex_email = re.compile(r'^([a-z0-9_\.-]+)@([0-9a-z\.-]+)\.([a-z\.]{2, 6})$', re.IGNORECASE)

#using VERBOSE
regex_email = re.compile(r"""
			^([a-z0-9_\.-]+)			 # local Part
			@							 # single @ sign
			([0-9a-z\.-]+)			 # Domain name
			\.						 # single Dot .
			([a-z]{2,6})$				 # Top level Domain
			""", re.VERBOSE | re.IGNORECASE)

In [ ]:
# Python3 program to show the Implementation of VERBOSE in RegEX
import re

def validate_email(email):

  # RegexObject = re.compile (Regular expression, flag)
  # Compiles a regular expression pattern into
  # a regular expression object
  regex_email=re.compile(r"""
							^([a-z0-9_\.-]+)				 # local Part
						@
							([0-9a-z\.-]+)				 # Domain name
						\.							 # single Dot .
							([a-z]{2,6})$				 # Top level Domain
						""",re.VERBOSE | re.IGNORECASE)


  # RegexObject is matched with the desired
  # string using fullmatch function
  # In case a match is found, search()
  # returns a MatchObject Instance
  res = regex_email.fullmatch(email)

  #if match is found, the string is valid
  if res:
    print("{} is Valid. Details are as follow:".format(email))

    # prints first part/personal detail of Email Id
    print("Local:{}".format(res.group(1)))

    # print Domain name of Email Id
    print("Domain:{}".format(res.group(2)))

    #print top level domain name of Email Id
    print("Top Level Domain:{}".format(res.group(3)))
  else:
    # if match is not found, string is invalid
    print('{} is Invalid'.format(email))

#driver code
validate_email("aliceinwonderland@gmail.com")
validate_email("Harrypotter@yahoo.com@")
validate_email("cruciallife@.com")

aliceinwonderland@gmail.com is Valid. Details are as follow:
Local:aliceinwonderland
Domain:gmail
Top Level Domain:com
Harrypotter@yahoo.com@ is Invalid
cruciallife@.com is Invalid

In [ ]:
# Pyton3 program to show the implementation of VERBOSE in RegEX
import re

def user_instagram(instagram):
  regex_instagram=re.compile(r"""
            ^@							           # single @ sign
						([a-z0-9_\.-]+)				 # name user Part
						""",re.VERBOSE | re.IGNORECASE)
  res = regex_instagram.fullmatch(instagram)

  if res:
    print("{} is Valid. Detail are as follow:".format(instagram))
    print("name user :{}".format(res.group(1)))
  else:
    print("{} is not valid".format(instagram))

#driver code
user_instagram("@Indrawijaya")
user_instagram("Indra@wijaya")
user_instagram("Indrawijaya")
user_instagram("@wijayaindra")

@Indrawijaya is Valid. Detail are as follow:
name user :Indrawijaya
Indra@wijaya is not valid
Indrawijaya is not valid
@wijayaindra is Valid. Detail are as follow:
name user :wijayaindra

In [ ]:
import re

def validate_email(email):


	regex_email=re.compile(r"""
						^([a-z0-9_\.-]+)				 # local Part
						@							 # single @ sign
							([0-9a-z\.-]+)				 # Domain name
						\.							 # single Dot .
							([a-z]{2,6})$				 # Top level Domain
						""",re.VERBOSE | re.IGNORECASE)


	res=regex_email.fullmatch(email)

	if res:
		print("{} is Valid. Details are as follow:".format(email))


		print("Local:{}".format(res.group()))


		print("Domain:{}".format(res.group(2)))

		print("Top Level domain:{}".format(res.group(3)))
		print()

	else:

		print("{} is Invalid".format(email))


validate_email("indra@gmail.com")
validate_email("aditpramna1@@gmail.com")
validate_email("adityapramana107@gmail.,com")
validate_email("Awinardi1004@gmail.com")

# **Pertemuan 7** Advance Regex

In [ ]:
# findall
# contoh find all dengan bahasa pemograman lain

while ($string =~ m/regex/g){
    print "ditemukan '$&', kemunculan selanjutnya pada karakter" . pos($string)+1. "\n";
}

SyntaxError: invalid syntax (<ipython-input-13-6cbb79c05eec>, line 4)

In [ ]:
# contoh find all dengan bahasa pemograman python

import re
re.findall(pattern,string[,flags])

SyntaxError: invalid syntax (<ipython-input-20-dd93b5518895>, line 4)

In [ ]:
import re

t = "A fat cat doesn't eat oat but a rat eats bats"
mo = re.findall("[a-z]at",t)
print(mo)

['fat', 'cat', 'eat', 'oat', 'rat', 'eat', 'bat']

In [ ]:
import re
courses = '''Python Training Course for Beginners: 15/Aug/2011 - 19/Aug/2011; Python Training Course Intermediate: 12/Dec/2011 - 16/Dec/2011;Python Text Processing Course:31/Oct/2011 - 4/Nov/2011'''
items = re.findall("[^:]*:[^;]*;?",courses)
print(items)
print()
items

['Python Training Course for Beginners: 15/Aug/2011 - 19/Aug/2011;', ' Python Training Course Intermediate: 12/Dec/2011 - 16/Dec/2011;', 'Python Text Processing Course:31/Oct/2011 - 4/Nov/2011']

['Python Training Course for Beginners: 15/Aug/2011 - 19/Aug/2011;',
 ' Python Training Course Intermediate: 12/Dec/2011 - 16/Dec/2011;',
 'Python Text Processing Course:31/Oct/2011 - 4/Nov/2011']

In [ ]:
import re
str = "course location is Jakarta or Bandung"
mo = re.search(r"location.*(Jakarta|Bandung|Lampung|Madura)",str)
if mo : print(mo.group())

location is Jakarta or Bandung

In [ ]:
from re import IGNORECASE

import re
z = " I live in Bekasi"
y = re.search("live.*(Jakarta|Depok|Bekasi|Bogor)",z)
if y : print(y.group())

live in Bekasi

In [ ]:
#Split

#splitting tanpa Regex

string = "Let reverence for the laws be breathed by every American mother to the lisping babe that prattles on her lap. Let it be taught in schools, in seminaries, and in colleges. Let it be written in primers, spelling books, and in almanacs. Let it be preached from the pulpit, proclaimed in legislative halls, and enforced in the courts of justice. And, in short, let it become the political religion of the nation."
string.split()

['Let',
 'reverence',
 'for',
 'the',
 'laws',
 'be',
 'breathed',
 'by',
 'every',
 'American',
 'mother',
 'to',
 'the',
 'lisping',
 'babe',
 'that',
 'prattles',
 'on',
 'her',
 'lap.',
 'Let',
 'it',
 'be',
 'taught',
 'in',
 'schools,',
 'in',
 'seminaries,',
 'and',
 'in',
 'colleges.',
 'Let',
 'it',
 'be',
 'written',
 'in',
 'primers,',
 'spelling',
 'books,',
 'and',
 'in',
 'almanacs.',
 'Let',
 'it',
 'be',
 'preached',
 'from',
 'the',
 'pulpit,',
 'proclaimed',
 'in',
 'legislative',
 'halls,',
 'and',
 'enforced',
 'in',
 'the',
 'courts',
 'of',
 'justice.',
 'And,',
 'in',
 'short,',
 'let',
 'it',
 'become',
 'the',
 'political',
 'religion',
 'of',
 'the',
 'nation.']

In [ ]:
line = "Faras;Tata;Fauziah;Pearl"
line.split()

['Faras;Tata;Fauziah;Pearl']

In [ ]:
mamon = "The god of the world's leading religion. The chief temple is in the holy city of New York."
mamon.split(" ",3)

['The',
 'god',
 'of',
 "the world's leading religion. The chief temple is in the holy city of New York."]

In [ ]:
mamon = "The god of the world's leading religion. The chief temple is in the holy city of New York."
mamon.split(" ",5)

['The',
 'god',
 'of',
 'the',
 "world's",
 'leading religion. The chief temple is in the holy city of New York.']

In [ ]:
mamon.split(None,5)

['The',
 'god',
 'of',
 'the',
 "world's",
 'leading religion. The chief temple is in the holy city of New York.']

In [ ]:
# split dengan regex

import re
string = "OF bodies chang'd to various forms, I sing: Ye Gods, from whom these miracles did spring, Inspire my numbers with coelestial heat;"
re.split("\W+",string)

['OF',
 'bodies',
 'chang',
 'd',
 'to',
 'various',
 'forms',
 'I',
 'sing',
 'Ye',
 'Gods',
 'from',
 'whom',
 'these',
 'miracles',
 'did',
 'spring',
 'Inspire',
 'my',
 'numbers',
 'with',
 'coelestial',
 'heat',
 '']

In [ ]:
import re
lines = ["surname: Nelson, prename: Mandela, profession: president", "surname: Merkel, prename: Skylar, profession: chancellor"]
for line in lines:
  print(re.split(" ,* *\w*: ", line))

['surname: Nelson,', 'Mandela,', 'president']
['surname: Merkel,', 'Skylar,', 'chancellor']

In [ ]:
import re
lines = ["surname: Nelson, prename: Mandela, profession: president", "surname: Merkel, prename: Skylar, profession: chancellor"]
for line in lines:
  print(re.split(" *\w* ", line)[1:])

['Nelson,', 'prename:', 'Mandela,', 'profession:', 'president']
['Merkel,', 'prename:', 'Skylar,', 'profession:', 'chancellor']

In [ ]:
# Search and Replace dengan Sub()

import re
str = "yes I said yes i will Yes"
res = re.sub("[Yy]es","No",str)
print(res)

No I said No i will No

# **Pertemuan 8** List Fundamental in Python

In [ ]:
# cara membuat list di Python

mylist = ["Faras","Tata","Fauziah"]

In [ ]:
mylists = ["Indra", "Wijaya","Alexsander","Hendra","Wijaya"]
print(mylists)

['Indra', 'Wijaya', 'Alexsander', 'Hendra', 'Wijaya']

In [ ]:
print(len(mylists))

5

In [ ]:
#datatype in list Python

list1 = ["Nisa","Cantik","Banget"]
list2 = [1,2,3,4,5]
list3 = [True,False,False]
lists = ["Mahasiswa",25,False,23,"Students"]

In [ ]:
# cara melihat type di Python

print(type(lists))

<class 'list'>

In [ ]:
# list dengan konstruktor

mylist= list(("Apps","os","version")) # harus menggunakan double kurung
print(mylist)

['Apps', 'os', 'version']

In [ ]:
#cara melihat isi list berdasarkan indeks

print(mylist[0]) #melihat data pertama di dalam list
print()
print(mylist[-1]) #melihat data terakhir didalam list
print()
print(mylist[1:3]) #melihat data di indeks 1-2 di dalam list
print()
print(mylist[:2]) #melihat data terakhir hingga data di indeks ke 1 di dalam list
print()
print(mylist[1:]) # melihat data indeks ke 1 hinga indeks terakhir di dalam list

Apps

version

['os', 'version']

['Apps', 'os']

['os', 'version']

In [ ]:
mylist[0] = "MacOS"
print(mylist)

['MacOS', 'os', 'version']

In [ ]:
mylist[1:3] = ["android","nougat"]
print(mylist)

['MacOS', 'android', 'nougat']

In [ ]:
thislist = ["apple","banana","cherry"]
thislist[1:2] = ["blackcurrant","watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple","banana","cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [ ]:
#add item to list

#append()
thislist = ["apple","banana","cherry"]
thislist.append("Orange")
print(thislist)

['apple', 'banana', 'cherry', 'Orange']

In [ ]:
#insert()
thislist = ["apple","banana","cherry"]
thislist.insert(1,"orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
# extend
thislist = ["apple","banana","cherry"]
tropical = ["blackcurrent","durians","mango"]

thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'blackcurrent', 'durians', 'mango']

In [ ]:
#remove item from list

#remove

thislist = ["apple","banana","cherry"]
thislist.remove("cherry")
print(thislist)

['apple', 'banana']

In [ ]:
# pop

thislist = ["apple","cherry","mango"]
thislist.pop(1)
print(thislist)

['apple', 'mango']

In [ ]:
#del

thislist = ["apple","mango","cherry"]
del thislist[0]
print(thislist)

['mango', 'cherry']

In [ ]:
#clear

thislist = ["apple","mango","banana"]
thislist.clear()
print(thislist)

[]

In [ ]:
# Loop in list

#for loop

thislist = ["apple","banana","mango"]
for x in thislist:
  print(x)

apple
banana
mango

In [ ]:
thislist = ["apple","banana","mango"]

for i in range (len(thislist)):
  print(thislist[i])

apple
banana
mango

In [ ]:
thislist = ["banana","mango","apple"]
i = 0

while i < len(thislist):
  print(thislist[i])
  i = i + 1

banana
mango
apple

In [ ]:
#list comprehension

fruit = ["apple","banana","mango","kiwi","cherry"]

newlist = [x for x in fruit if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruit = ["apple","banana","cherry"]

for x in fruit:
  if 'a' in x:
    print(x)

apple
banana

In [ ]:
# menggunakan kondisi

newlist = [x for x in fruit if x != "apple"]
print(newlist)

['banana', 'cherry']

In [ ]:
# iteratif
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# expression
newlist = [x.upper() for x in fruit]
print(newlist)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
# multiple condition
newlist = [x if x != "banana" else "orange" for x in fruit]
print(newlist)

['apple', 'orange', 'cherry']

In [ ]:
# list sorting

thislist = ["orange","mango","kiwi","pinapple","banana"]
thislist.sort() #sorting ascending (defaultnya)
print(thislist)
print()
thislist.sort(reverse = True) #sorting descending (reverse dari sorting default)
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pinapple']

['pinapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = [100,58,14,23,75]
thislist.sort()
print(thislist)
print()
thislist.sort(reverse = True)
print(thislist)

[14, 23, 58, 75, 100]

[100, 75, 58, 23, 14]

In [ ]:
thislist = ["apple","banana","mango"]
newlist = thislist.copy()
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#joining list
#join biasa
list1 = [1,2,3]
list2 = [4,5,6]

list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [ ]:
# join dengan looping
list1 = [1,2,3]
list2 = [4,5,6]

for x in list2:
  list1.append(x)

print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#join dengan extend
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)

print(list1)

[1, 2, 3, 4, 5, 6]

# **Pertemuan 9** Dictionary in Python

In [ ]:
# Defining Dictionary

dicts = {"a":1,"b":2,"c":3}
print(dicts)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
sport_team = dict([
    ('Colorado', 'Rockies'),
    ('Boston', 'Red Sox'),
    ('Minnesota', 'Twins'),
    ('Milwaukee', 'Brewers'),
    ('Seattle', 'Mariners')
])
print(sport_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [ ]:
sport_team = dict(
    Colorado='Rockies',
    Boston='Red Sox',
    Minnesota='Twins',
    Milwaukee='Brewers',
    Seattle='Mariners'
)
print(sport_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [ ]:
# accessing dictionary

print(sport_team['Minnesota'])
print(sport_team['Colorado'])

#jika key tidak ada di dalam dictionary maka akan error.

Twins
Rockies

In [ ]:
# adding new entry

sport_team ["Kankas City"] = 'Royals'
print(sport_team)
sport_team ["Seattle"] = " Seahawks"
print(sport_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kankas City': 'Royals'}
{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': ' Seahawks', 'Kankas City': 'Royals'}

In [ ]:
del sport_team ["Seattle"]
print(sport_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Kankas City': 'Royals'}

In [ ]:
#dictionary key vs list indexing

#sport_team['Toronto'] -> error karena tidak ada key tersebut di dalam list
# sport_team[1] -> error karena tidak bisa mengakses dictionary dengan indexing

d = {0:'a',1:'b',3:'c'}
print(d)

print(d[0])
print(d[3])

{0: 'a', 1: 'b', 3: 'c'}
a
c

In [ ]:
d = {3: 'd', 2: 'c', 1: 'b', 0: 'a'}
print(d)

print(d[1])
print(d[2])

{3: 'd', 2: 'c', 1: 'b', 0: 'a'}
b
c

In [ ]:
# Building a Dictionary Incrementally

person = {}
print(type(person))

person['fname'] = 'Joe'
person['lname'] = 'Fonebone'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph','Betty','Joey']
person['pets'] = {'dog':'Fido', 'cat':'sox'}

print(person)
print()
print(person['fname'])
print(person['age'])
print(person['children'])
print(person['pets'])

<class 'dict'>
{'fname': 'Joe', 'lname': 'Fonebone', 'age': 51, 'spouse': 'Edna', 'children': ['Ralph', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'sox'}}

Joe
51
['Ralph', 'Betty', 'Joey']
{'dog': 'Fido', 'cat': 'sox'}

In [ ]:
print(person['children'][-1])
print()
print(person['pets']['cat'])

Joey

sox

In [ ]:
foo = {42:'aaa', 2.78:'bbb', True:'ccc'}
print(foo)

print(foo[42])
print(foo[2.78])
print(foo[True])

{42: 'aaa', 2.78: 'bbb', True: 'ccc'}
aaa
bbb
ccc

# **Pertemuan 10** Object Oriented programming

In [ ]:
class ClassName:
  # statement -1

  #statement -2

In [1]:
# pendefinisian class
class Dogs:
  pass

In [3]:
#Object

obj = Dogs()

In [13]:
class Dog:
  #Class attributes
  attr1 = "mammals"

  # instance attributes
  def __init__(self,nama):
    self.nama = nama
# Driver code
# Object Instantiation
Rodger = Dog("Rodger")
Tommy = Dog("Tommy")

# accessing class attribute
print("Rodger is a {}".format(Rodger.__class__.attr1))
print("Tommy is also a {}".format(Tommy.__class__.attr1))

#accessing instance Attributes
print("My name is {}".format(Rodger.nama))
print("my name is {}".format(Tommy.nama))

Rodger is a mammals
Tommy is also a mammals
My name is Rodger
my name is Tommy

In [16]:
class Dog:
  #Class attributes
  attr1 = "mammals"

  # instance attributes
  def __init__(self,nama):
    self.nama = nama

  def speak(self):
    print("my name is {}".format(self.nama))

#driver code
#object instantiation
Rodger = Dog("Rodger")
Tommy = Dog("Tommy")

#Accessing class method
Rodger.speak()
Tommy.speak()

my name is Rodger
my name is Tommy